name: docs

on:
  workflow_call:
    inputs:
      targetSha:
        required: true
        type: string

permissions:
  pages: write
  id-token: write

jobs:
  build:
    timeout-minutes: 15
    runs-on: [self-hosted, nix]
    steps:
      - name: checkout code
        uses: actions/checkout@v6.0.1
        with:
          ref: ${{ inputs.targetSha }}
      - name: activate nix shell
        uses: nicknovitski/nix-develop@v1.2.1
        with:
          arguments: ".#ci"
      - name: install dependencies
        run: poetry install --with oasys
      - name: Build documentation
        run: poetry run build
      - name: upload documentation artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: ./docs/build/html
  deploy:
    needs: build
    runs-on: [self-hosted, nix]
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: deploy documentation to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
