name: lint

on:
  workflow_call:
    inputs:
      targetSha:
        required: true
        type: string
  workflow_dispatch:

jobs:
  treefmt:
    timeout-minutes: 15
    runs-on: [self-hosted, nix]
    steps:
      - name: checkout code
        uses: actions/checkout@v6.0.1
        with:
          ref: ${{ inputs.targetSha }}
      - name: run treefmt
        run: nix fmt -- --ci
