name: test

on:
  workflow_call:
    inputs:
      targetSha:
        required: true
        type: string

jobs:
  lib:
    timeout-minutes: 15
    runs-on: [self-hosted, nix]
    steps:
      - name: checkout code
        uses: actions/checkout@v6.0.1
        with:
          ref: ${{ inputs.targetSha }}
      - name: activate nix shell
        uses: nicknovitski/nix-develop@v1.2.1
        with:
          arguments: ".#ci"
      - name: install dependencies
        run: poetry install
      - name: run tests
        run: poetry run python -m unittest -b
  docs:
    timeout-minutes: 15
    runs-on: [self-hosted, nix]
    steps:
      - name: checkout code
        uses: actions/checkout@v6.0.1
        with:
          ref: ${{ inputs.targetSha }}
      - name: activate nix shell
        uses: nicknovitski/nix-develop@v1.2.1
        with:
          arguments: ".#ci"
      - name: install dependencies
        working-directory: docs
        run: poetry install
      - name: run tests
        working-directory: docs
        run: poetry run python -m unittest -b
